<!DOCTYPE html>
<html>
<head>
  <title>employee List</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/x.css">
  <script src="jquery.min.js"></script>
  <script src="x.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Point Of Sale</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->

    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="sidebar-nav">
                    <ul class="nav">
                        <ul class="nav">
                        <li class="active"><a href="/customerlist">Customers</a></li>
                        <li><a href="/itemlist">Items</a></li>
                        <li><a href="/sales">Sales</a></li>
                        <li class="nav-divider"></li>
                        <li><a href="/invoicelist">Invoices</a></li>
                        <li><a href="/additem">Add Item</a></li>
                        <li><a href="/addcustomer">Add Customer</a></li>
                        <li class="nav-divider"></li>
                        <li class="active"><a href="/addemployee">Add Employee</a></li>
                        <li class="active"><a href="#"></a></li>
                        <li class="active"><a href="#"></a></li>
                        <li class="nav-divider"></li>
                        <li><a href="#"></a></li>
                        <li class="active"><a href="#"></a></li>
                        <li class="active"><a href="#"></a></li>
                        <li><a href="/logout">Logout</a></li>
                        </ul>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->

            <div class="col-xs-12 col-sm-9">
                <br>
                <div class="jumbotron">
                    <form method="post" ref = 'uploadForm' id = 'uploadForm' encType="multipart/form-data">
                      <table class="table">
                        <thread class = "thread-inverse">
                          <tr>
                            <th>employee Id</th>
                            <th>employee Name</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Image</th>
                            <th>Edit</th>
                          </tr>
                          <% for(var i =0; i < employeeList.length; i++){ %>
                            <tr>
                              <td><%= employeeList[i].personId %></td>
                              <td><%= employeeList[i].firstName +" "+employeeList[i].lastName %></td>
                              <td><%= employeeList[i].email %></td>
                              <td><%= employeeList[i].password %></td>
                              <td><%= employeeList[i].phone %></td>
                              <td><%= employeeList[i].address %></td>
                              <td><%= employeeList[i].city %></td>
                              <td><%= employeeList[i].image %></td>
                              <td><a href="/employeeedit/<%= employeeList[i].personId %>">Edit</a> | <a href="/employeedelete/<%= employeeList[i].personId %>">Delete</a></td>
                            </tr>

                          <% } %>
                        </thread>
                      </table>
                    </form>
                </div>
            </div>
            <!--/span-->


        </div>
        <!--/row-->

        <hr>

    </div>
    <!--/.container-->
</body>
</html>